:root {
  color: white;
}

@font-face {
  font-family: Antonio;
  src: url(../fonts/Antonio-Regular.ttf);
}

@font-face {
  font-family: Spartan;
  src: url(../fonts/Spartan-Regular.ttf);
}

body {
  font-family: Antonio;
  font-style: normal;
  font-weight: normal;
  background-color: #070724;
  background-image: url(../images/background-stars.svg);
}

h1 {
  font-size: 75px;
  line-height: 104px;
  text-transform: uppercase;
  margin: 20px 0px;
}

h2 {
  font-size: 38px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

h3 {
  font-family: Spartan;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
}

h4 {
  font-family: Spartan;
  font-weight: bold;
  font-size: 9px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-family: Spartan;
  font-size: 13px;
  line-height: 24px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 38px 48px 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  margin-top: 100px;
}

footer > * {
  width: 240px;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 18px;
}

footer > * p {
  margin: 0px;
  font-size: 10.5px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}

footer > * h2 {
  margin: 0px;
}
