:root {
  color: white;
}

@font-face {
  font-family: Antonio;
  src: url(../fonts/Antonio-Regular.ttf);
}

@font-face {
  font-family: Spartan;
  src: url(../fonts/Spartan-Regular.ttf);
}

/* start of desktop styles */
@media screen and (min-width: 479px) and (max-width: 991px) {
  /* start of large tablet styles */
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 159px;
    padding: 25px 38px 0px 30px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header h2 {
    margin: 0px;
    font-weight: normal;
    letter-spacing: -1.05px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    width: 90vw;
    margin: 0px;
    font-family: Spartan;
    font-size: 11px;
    padding: 0px 40px;
  }
  header nav ul .active:hover {
    border-top: 0px;
  }
  header nav ul .active li {
    padding: 17px 0px;
  }
  header nav ul div:hover {
    cursor: pointer;
    border-top: 3px solid;
  }
  header nav ul li {
    padding: 20px 0px;
    height: 16px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  header nav ul li:hover {
    padding: 17px 0px;
  }
  header .hamburger-menu {
    display: none;
  }
  .mobile-planet-list {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #070724;
    height: 72px;
    width: 100%;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
  }
  header h2 {
    margin: 0px;
    font-weight: normal;
    letter-spacing: -1.05px;
  }
  header nav {
    display: none;
  }
  header .hamburger-menu {
    display: inline;
  }
  .mobile-planet-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 57px;
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.36364px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .mobile-planet-list ul {
    list-style-type: none;
    width: 100%;
    padding: 16px 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile-planet-list ul .planet-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .mobile-planet-list ul .planet-item:hover {
    cursor: pointer;
    background-color: rgba(151, 151, 151, 0.2);
  }
  .mobile-planet-list ul .planet-item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 27px;
  }
  .mobile-planet-list ul .planet-item li {
    padding-left: 25px;
  }
  .mobile-planet-list ul .bullet {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
  }
}

@media screen and (min-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 72px;
    padding: 0 38px 0 30px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header h2 {
    margin: 0px;
    font-weight: normal;
    letter-spacing: -1.05px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    width: 630px;
    margin: 0px;
    font-family: Spartan;
    font-size: 11px;
  }
  header nav ul .active:hover {
    border-top: 0px;
  }
  header nav ul .active li {
    padding: 21px 0px;
  }
  header nav ul div:hover {
    cursor: pointer;
    border-top: 3px solid;
  }
  header nav ul li {
    padding: 24px 0px;
    height: 16px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  header nav ul li:hover {
    padding: 21px 0px;
  }
  header .hamburger-menu {
    display: none;
  }
  .mobile-planet-list {
    display: none;
  }
}
